.portal-voter-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50% !important;
}

.portal-voter-img img {
    max-width: 100%;
    height: auto;
}

.portal-candidates tr td {
    vertical-align: middle;
}

.portal-candidates img {
    max-width: 10vw !important;
}